.navbar {
  text-align: right;
}

.logo {
  max-height: 80px;
  margin: 0px;
  display: block;
  float: left;
  padding: 0px;
}

.navbutton {
  margin: 20px;
  background-color: transparent;
  color: white;
}

.navbutton-download {
  margin: 20px;
  background: linear-gradient(
    158deg,
    rgb(0, 170, 255) 0%,
    rgb(129, 247, 255) 100%
  );
  height: 40px;
  color: white;
  font-size: 20px;
  box-shadow: 0 0 10px 3px #fff;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-weight: bolder;
}

.navbutton-download:hover {
  margin: 20px;
  background-color: #00a9bc;
  color: white;
  box-shadow: 0 0 15px 10px #fff;
}

.link:hover {
  color: #ffffff;
}

.link {
  color: #ffffff;
}

.logo-m {
  float: left;
  height: 64px;
  line-height: 64px;
  margin: 0px;
  will-change: filter;
  padding: 0px;
}

.side {
  float: right;
  height: 64px;
  line-height: 64px;
  margin: 0px;
  will-change: filter;
  padding: 0px;
}

.drawer {
  margin: 0 auto;
  text-align: left;
  line-height: 50px;
}
